[Unit]
Description=Sandstorm Manager
After=sandstorm-server.service

[Service]
Type=simple
User={{ sandstorm_user }}
WorkingDirectory={{ sandstorm_install_dir }}
ExecStart={{ sandstorm_home }}/venv/bin/python {{ sandstorm_install_dir }}/servermanager.py
EnvironmentFile={{ sandstorm_home }}/.env
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target