{
  "Avatar": {
    "filename": "acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
    "original": "https://image.modcdn.io/members/a685/58172622/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
    "thumb_100x100": "https://thumb.modcdn.io/members/a685/58172622/crop_100x100/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
    "thumb_50x50": "https://thumb.modcdn.io/members/a685/58172622/crop_50x50/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png"
  },
  "DeferredUnsubscribes": [],
  "OAuth": {
    "expiry": 1810941198,
    "status": 0,
    "token": "{{ sandstorm_modio_token }}"
  },
  "Profile": {
    "avatar": {
      "filename": "acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
      "original": "https://image.modcdn.io/members/a685/58172622/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
      "thumb_100x100": "https://thumb.modcdn.io/members/a685/58172622/crop_100x100/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png",
      "thumb_50x50": "https://thumb.modcdn.io/members/a685/58172622/crop_50x50/acg8ockg-bwxtpn0w6fdtkok1rlk2g9.png"
    },
    "date_online": 1779404204,
    "display_name_portal": "",
    "id": 58172622,
    "profile_url": "https://mod.io/u/asctb",
    "username": "asctb"
  },
  "subscriptions": [
    150867,
    1516914
  ],
  "version": 1
}
